<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnimeSoftware.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AnimeSoftware.Properties.Hotkey" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AnimeSoftware.Properties.Settings>
            <setting name="bhop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="doorspammer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="blockbot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="namestealer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="runboostbot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autostrafe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="weaponspammer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="friendlyfire" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="aimbot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fov" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="boneid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="smooth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="rsc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="unlock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fakefriendlyfire" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="perfectnade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chatcleaner" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bhopChoke" serializeAs="String">
                <value>0</value>
            </setting>
        </AnimeSoftware.Properties.Settings>
        <AnimeSoftware.Properties.Hotkey>
            <setting name="blockbotKey" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="doorspammerKey" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="runboostbotKey" serializeAs="String">
                <value>90</value>
            </setting>
        </AnimeSoftware.Properties.Hotkey>
    </userSettings>
</configuration>